*
!Snakefile
!config.yaml
!samples.tsv
!envs
!envs/*
!environment.yaml
!LICENSE
!README.md
!rules
!rules/*
!test
!test/data
!test/reference-genomes
!test/ecoli_01.yaml
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
